---
layout: default
pageid: home
social_photo: ted-serbinski.jpg
title: "Ted Serbinski"
description: "Investing in founders building the future of transportation"
---

<section id="callout">

  <div id="about">
    <p class="tag1">Hi, I'm Ted.</p>
    <p class="tag2">I invest in <a href="/mobility-startups">founders around the world building the future of transportation</a>.</p>
    <p class="tag3">Six years ago, <a href="/detroit/the-entrepreneurial-gold-rush-why-i-moved-from-san-francisco-to-detroit/">I left Silicon Valley to join the entrepreneurial gold rush in Detroit</a> and build a legacy.</p>
    <p class="tag4">Here, I share what I've learned to help people be great and build great things.</p>
  </div>

  <form action="//tedserbinski.us8.list-manage.com/subscribe/post?u=71ad9613efdfc7e1af5e08cf1&amp;id=95f2c0915d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
     <label for="mce-EMAIL">Don't miss another insight. 2-4 new posts a month.</label>
     <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="your@email.com" required>
     <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
     <div style="position: absolute; left: -5000px;"><input type="text" name="b_71ad9613efdfc7e1af5e08cf1_95f2c0915d" tabindex="-1" value=""></div>
     <input type="submit" value="Keep Me Updated" name="subscribe" id="mc-embedded-subscribe" class="button">
  </form>

  <div id="twitter-follow">
    <a href="https://twitter.com/tedserbinski?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="true" rel="me">Follow @tedserbinski</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</section>

<section class="column first">
  <h2>&raquo; New here? <small>Start with my best posts</small></h2>
  <ul>
    {% for post in site.tags["top post"] limit:5 %}
    <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
</section>

<section class="column last">
  <h2>&raquo; Back again? <small>Here's the latest</small></h2>
  <ul>
    {% for post in site.posts limit:4 %}
    <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
    <li><a href="{{ site.url }}/posts/">&hellip; all of my blog posts</a>
    </li>
  </ul>
</section>
