---
layout: homepage
title: Ted Serbinski
id: -home
description: A blog covering startup lessons from an entreprenuer and open source hacker turned early stage VC living in Detroit.
---

<div class="row">
  <div class="span4 offset1">
    <h3>New here? <small>Start with my best posts</small></h3>
    <ul class="posts unstyled">
    {% for post in site.tags.top limit:5 %}    
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
  </div>
  <div class="span4 offset2">
    <h3>Back again? <small>Here's the latest</small></h3>
    <ul class="posts unstyled">
    {% for post in site.posts limit:5 %}    
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>       
  </div>
</div>
<div class="row">
  <div class="span12">
    <div class="alert alert-block alert-success newsletter clearfix">
      <div class="span7 offset1">
        <div class="pull-left text-right newsletter-desc">
          <h5>Free, weekly updates</h5>
          <small>No spam, promise. Powered by <a href="https://tinyletter.com/tedserbinski">TinyLetter</a></small>
        </div>
        <div class="input-append input-prepend pull-left">
          <form action="https://tinyletter.com/tedserbinski" method="post" target="popupwindow" onsubmit="newsletter();return true;">
          <span class="add-on"><i class="icon-envelope"></i></span>
          <input class="span2" type="email" placeholder="your@email.com" required name="email" id="tlemail">
          <input type="hidden" value="1" name="embed"/>
          <button class="btn btn-success" type="submit">Sign Up</button>
          </form>  
        </div>
      </div>
      <div class="span3">
        <div class="twitter"><a href="https://twitter.com/tedserbinski" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @tedserbinski</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></div>  
      </div>      
    </div>
  </div>
</div>