{% if page.flyout == 'inline' %}
<aside id="flyout" class="inline">
{% else %}
<aside id="flyout" class="hidden">
{% endif %}

  {% if include.param == 'post' %}
  <section>
    <h4><mark>Like this post? Share it!</mark></h4>
    <a class="twitter-share-button" data-size="large" href="https://twitter.com/intent/tweet?text={{ page.title }}&amp;url={{ site.url }}{{ page.url | remove: 'index.html' }}%3Futm_medium=social&amp;utm_source=twitter&amp;utm_campaign=sharebtnfly&amp;via=tedserbinski">Tweet</a>
  </section>
  {% endif %}

  <section>
    {% if include.param == 'post' %}
    <h4>Get my latest thoughts on Mobility, Startups, &amp; Detroit</h4>
    {% else %}
    <h4><mark>Get my latest thoughts on Mobility, Startups, &amp; Detroit</mark></h4>
    {% endif %}

    <form action="//tedserbinski.us8.list-manage.com/subscribe/post?u=71ad9613efdfc7e1af5e08cf1&amp;id=95f2c0915d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	     <label for="mce-EMAIL">Yes, send me new blog posts, 1-3 times a month. No Spam.</label>
	     <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
       <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
       <div style="position: absolute; left: -5000px;"><input type="text" name="b_71ad9613efdfc7e1af5e08cf1_95f2c0915d" tabindex="-1" value=""></div>
       <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
    </form>
  </section>

  <section class="bottom">
    <a href="https://twitter.com/tedserbinski" class="twitter-follow-button" data-size="large" rel="me">Follow @tedserbinski</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </section>

</aside>
