{% if page.flyout == 'inline' %}
<aside id="flyout" class="inline">
{% else %}
<aside id="flyout" class="hidden">
{% endif %}

  {% if include.param == 'post' %}
  <section>
    <h4><mark>Like this post? Share it!</mark></h4>
    <p>{{ page.title }} by @TedSerbinski</p>
    <a href="https://twitter.com/share"
      class="twitter-share-button"
      data-lang="en"
      data-size="large"
      data-count="none"
      data-url="{{ site.domain }}{{ page.url | remove: 'index.html' }}?utm_medium=social&amp;utm_source=twitter&amp;utm_campaign=sharebtnfly"
      data-via="tedserbinski"
      data-text="Great post! &ldquo;{{ page.title }}&rdquo;">Tweet</a>
  </section>
  {% endif %}

  <section>
    {% if include.param == 'post' %}
    <h4>Join My Newsletter</h4>
    {% else %}
    <h4><mark>Join My Newsletter</mark></h4>
    {% endif %}

    <form action="//tedserbinski.us8.list-manage.com/subscribe/post?u=71ad9613efdfc7e1af5e08cf1&amp;id=95f2c0915d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	     <label for="mce-EMAIL">Signup today for free email updates.</label>
	     <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
       <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
       <div style="position: absolute; left: -5000px;"><input type="text" name="b_71ad9613efdfc7e1af5e08cf1_95f2c0915d" tabindex="-1" value=""></div>
       <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
    </form>
  </section>

  <section class="bottom">
    {% comment %}
    <div id="twitter-follow">
      <a href="https://twitter.com/tedserbinski"
        class="twitter-follow-button"
        data-show-count="true"
        data-size="large"
        rel="me">Follow @tedserbinski</a>
    </div>
    {% endcomment %}
    <iframe id="twitter-widget-1" scrolling="no" frameborder="0" allowtransparency="true" src="http://platform.twitter.com/widgets/follow_button.1409790579.html#_=1410225941776&amp;id=twitter-widget-1&amp;lang=en&amp;screen_name=tedserbinski&amp;show_count=true&amp;show_screen_name=true&amp;size=l" class="twitter-follow-button twitter-follow-button" title="Twitter Follow Button" data-twttr-rendered="true" style="width: 296px; height: 28px;"></iframe>
  </section>

</aside>
