<footer id="footer">
  <section id="about">
    <h5>About</h5>
    <p>{{ site.bio_footer }}</p>
  </section>
  <section id="footernav">
    <h5>Nav</h5>
    <ul>
      <li><a href="{{ site.domain }}/mobility/">Mobility</a></li>
      <li><a href="{{ site.domain }}/about/">About</a></li>
      <li><a href="{{ site.domain }}/startup-lessons/">Startup Lessons</a></li>
      <li><a href="{{ site.domain }}/headshots-bio/">Headshots &amp; Bio</a></li>
      <li><a href="{{ site.domain }}/detroit/">Detroit</a></li>
      <li><a href="http://eepurl.com/ZxKzn">Newsletter</a></li>
      <li><a href="{{ site.domain }}/posts/">All Posts</a></li>
      <li><a href="{{ site.domain }}/contact/">Contact</a></li>
    </ul>
  </section>

  <section id="copyright">
    <p>&copy; 2006-{{ site.time | date: "%Y" }} {{ site.tagline_copyright }}</p>
  </section>
</footer>
