<footer id="footer">
  <section id="about">
    <h5>About</h5>
    <p>Hi, I'm <a href="https://twitter.com/tedserbinski" rel="author">Ted Serbinski</a>. I live in Metro Detroit and am the Managing Director of <a href="https://tedserbinski.com/mobility/">Techstars Mobility</a>. I love <a href="http://momtomomnutrition.com/">my wife</a> &amp; kids, investing in mobility startups, and contributing to the startup renaissance in Detroit. <a href="/about/">Learn more</a>.</p>
  </section>
  <section id="footernav">
    <h5>Nav</h5>
    <ul>
      <li><a href="{{ site.url }}/mobility/">Mobility</a></li>
      <li><a href="{{ site.url }}/about/">About</a></li>
      <li><a href="{{ site.url }}/startup-lessons/">Startup Lessons</a></li>
      <li><a href="{{ site.url }}/headshots-bio/">Headshots &amp; Bio</a></li>
      <li><a href="{{ site.url }}/detroit/">Detroit</a></li>
      <li><a href="https://eepurl.com/ZxKzn">Newsletter</a></li>
      <li><a href="{{ site.url }}/posts/">All Posts</a></li>
      <li><a href="{{ site.url }}/contact/">Contact</a></li>
    </ul>
  </section>

  <section id="copyright">
    <p>&copy; 2006-{{ site.time | date: "%Y" }} Ted Serbinski. All rights reserved. <a href="https://github.com/tedserbinski/www-tedserbinski-com" title="View  source code to this website">Made with <span style="color: #ff6032;">♥</span> in Detroit, Michigan</a>.</p>
  </section>
</footer>
