<footer id="footer">
  <section id="about">
    <h5>About</h5>
    <p>Hi, I'm <a href="https://twitter.com/tedserbinski" rel="author">Ted Serbinski</a>. I live in Metro Detroit and am a Partner at <a href="http://detroitventurepartners.com">Detroit Venture Partners</a>. I love <a href="http://katieserbinski.com">my wife</a> &amp; kids, investing in startups, and contributing to the startup renaissance in Detroit. <a href="/about/">Learn more</a>.</p>
  </section>
  <section id="footernav">
    <h5>Nav</h5>
    <ul>
      <li><a href="/startup-lessons/">Startup Lessons</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/detroit/">Detroit</a></li>
      <li><a href="http://eepurl.com/ZxKzn">Newsletter</a></li>
      <li><a href="/posts/index.html#tech">Tech</a></li>
      <li><a href="/contact/">Contact</a></li>
      <li><a href="/posts/">All Posts</a></li>
    </ul>
  </section>

  <section id="copyright">
    <p>&copy; 2006-{{ site.time | date: "%Y" }} Ted Serbinski. All rights reserved. Made in Detroit, Michigan.</p>
  </section>
</footer>
