{% if page.url != '/index.html' %}
<ul class="nav nav-pills wide">
  <li class="space"><a href="/index.html">Home</a></li>
{% else %}  
<ul class="nav nav-pills">
{% endif %}
  <li class="space"><a href="/52-startup-lessons.html" title="52 Startup Lessons from a Venture Capitalist">52 Startup Lessons</a></li>
  <li class="space"><a href="/startup-portfolio.html" title="Startup Portfolio">Startup Portfolio</a></li>  
  <li class="space"><a href="/about.html" title="About Ted Serbinski">About</a></li>
  <li class="space"><a href="mailto:hi@tedserbinski.com">Email Me</a></li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li class="nav-header">More Posts</li>
      <li><a href="/drupal-code.html">Drupal &amp; Code</a></li>                            
      <li><a href="/bmw.html">BMWs</a></li>
      <li><a href="/archive.html">Blog Post Archive</a></li>                
      <li class="divider"></li>
      <li class="nav-header">Connect Online</li>
      <li><a href="https://angel.co/tedserbinski">AngelList</a></li>
      <li><a href="https://twitter.com/tedserbinski">Twitter</a></li>
      <li><a href="https://plus.google.com/107707246099022430019?rel=author" rel="author">Google+</a></li>
      <li><a href="http://www.linkedin.com/in/tedserbinski/">LinkedIn</a></li>
      <li class="divider"></li>
      <li class="nav-header">Open Source</li>
      <li><a href="https://github.com/tedserbinski">Github</a></li>
      <li><a href="http://drupal.org/user/12932">Drupal</a></li>
    </ul>
  </li>
</ul>
