<p class="alert alert-block alert-info">Have feedback? <a href="#comments">Leave a comment</a> below or <a href="http://twitter.com/tedserbinski">send me a message on Twitter</a>.</p>
<div class="alert alert-block alert-success newsletter clearfix">
  <div class="pull-left">
     <h5>Free, weekly updates</h5>
    <small>No spam, promise. Powered by <a href="https://tinyletter.com/tedserbinski">TinyLetter</a></small>
  </div>
  <div class="input-append input-prepend pull-left">
    <form action="https://tinyletter.com/tedserbinski" method="post" target="popupwindow" onsubmit="newsletter();return true;">
    <span class="add-on"><i class="icon-envelope"></i></span>
    <input class="span2" type="email" placeholder="your@email.com" required name="email" id="tlemail">
    <input type="hidden" value="1" name="embed"/>
    <button class="btn btn-success" type="submit">Sign Up</button>
    </form>    
  </div>
</div>
