<div class="alert alert-block alert-info newsletter post clearfix">
  <div class="pull-left text-right newsletter-desc">
    <h5>Weekly updates</h5>
    <small>Powered by <a href="https://tinyletter.com/tedserbinski">TinyLetter</a></small>
  </div>
  <div class="input-append input-prepend pull-left">
    <form action="https://tinyletter.com/tedserbinski" method="post" target="popupwindow" onsubmit="newsletter();return true;">
    <input class="span2" type="email" placeholder="your@email.com" required name="email" id="tlemail">
    <input type="hidden" value="1" name="embed"/>
    <button class="btn btn-success" type="submit">Sign Up</button>
    </form>
  </div>
  <div class="pull-left">
    <div class="twitter"><a href="https://twitter.com/tedserbinski" class="twitter-follow-button" data-show-count="true" data-size="small">Follow @tedserbinski</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="http://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></div>
  </div>
</div>
