<a href="https://twitter.com/tedserbinski"
  class="twitter-follow-button"
  data-show-count="true"
  data-size="large"
  rel="me">Follow @tedserbinski</a>

<a href="https://twitter.com/share"
  class="twitter-share-button"
  data-lang="en"
  data-size="large"
  data-count="none"
  data-url="http://tedserbinski.com{{ page.url | remove: 'index.html' }}?utm_medium=social&amp;utm_source=twitter&amp;utm_campaign=sharebtn"
  data-via="tedserbinski"
  data-text="Great post! &gt; {{ page.title }}">Tweet</a>
