---
layout: page
pageid: life-learnings
show_flyout: true
flyout: inline
title: "Life Learnings"
description: Learnings from being a father, husband, entreprenuer, investor, and mentor.
---

<p>Here I share the insights and lessons I've learned from being a father, husband, leader, entreprenuer, and investor.</p>
<p><a href="{{ site.url }}/contact/">Email me suggestions, comments, or critiques</a>.</p>

<hr>

<h2>Health</h2>
<ul class="posts">
{% for post in site.tags["health"] reversed %}
<li>
  {% if post.date %}<span class="post-date">{{ post.date | date: "%b %Y" }}</span>{% endif %}
  <span class="post"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></span>
</li>
{% endfor %}
</ul>

<h2>Productivity</h2>
<ul class="posts">
{% for post in site.tags["productivity"] reversed %}
<li>
  {% if post.date %}<span class="post-date">{{ post.date | date: "%b %Y" }}</span>{% endif %}
  <span class="post"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></span>
</li>
{% endfor %}
</ul>

<h2>Family and Home Life</h2>
<ul class="posts">
{% for post in site.tags["family"] reversed %}
<li>
  {% if post.date %}<span class="post-date">{{ post.date | date: "%b %Y" }}</span>{% endif %}
  <span class="post"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></span>
</li>
{% endfor %}
</ul>

<h2>Book Reviews</h2>
<ul class="posts">
{% for post in site.tags["book review"] reversed %}
<li>
  {% if post.date %}<span class="post-date">{{ post.date | date: "%b %Y" }}</span>{% endif %}
  <span class="post"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></span>
</li>
{% endfor %}
</ul>
