/* Navigation
-------------------------------------------------- */
#nav {
  padding:18px 6px;
  border-bottom:1px solid #aaa;
  font-size:17px;
}

ul.nav {
  margin:0 auto;
  padding:0;
  width:686px;
}

ul.nav.wide {
  width:784px;
}

ul.nav li.space {
  margin-right:24px;
}

ul.dropdown-menu {
  margin-top: 0;
}

/* show dropdown on hover instead of click */
ul.nav li.dropdown:hover > ul.dropdown-menu {
  display:block;
}

ul.nav li.dropdown:hover > a.dropdown-toggle {
  background-color:#111;
  color:#fff;
}

#footer .muted {
  margin:24px 0;
  color:#aeb3c3;
  text-align:center;
  font-size:13px;
}

#footer a {
  text-decoration: underline;
}

/* Content
-------------------------------------------------- */
.entry {
  color: #000;
}

a:hover {
  color:#f13232;
}

span.hl {
  background-color: #ffc
}

.entry {
  margin:0 auto;
  max-width:810px;
}

.entry a, .posts a {
  text-decoration: underline;
}

.entry-content {
  margin:0 auto;
  max-width:624px;
}

.entry h1,.entry h2,.entry h3,h4.media-heading,#page-home h3 {
  letter-spacing:-1px;
  font-weight:300;
  font-family:"abril-display-1","abril-display-2","Georgia","Times",serif;
}

h4.media-heading span {
  letter-spacing:0;
  font-size:14px;
  font-family:sans-serif;
}

.entry code,.entry pre {
  font-size:14px;
  line-height:22px;
}

.entry-content blockquote {
  margin:28px 0 28px 28px;
  padding: 28px;
  border-left: 3px solid #000;
  background: #DFE9ED;
  color: #008BBB;
}

.entry-content blockquote p {
  font-size:inherit;
  line-height:inherit;
}

.entry-content strong {
  background: #ffc;	
  padding:3px;
}

.entry-content>ul>li {
  margin:0 0 14px 14px;
}

p.posted {
  margin:0 0 36px;
  font-style:italic;
  font-size:14px;
}

p.posted a {
  color:#aaa;
}

p.posted a:hover {
  color:#555;
}

p.posted a.comment-count {
  padding:0 36px;
}

p.posted a.prev {
  padding:0 12px 0 0;
}

.newsletter.post {
  padding:24px 0 12px 12px;
}

.newsletter form {
  margin:0;
}

.newsletter h5 {
  margin:0;
  margin-right:16px;
  font-size:16px;
  line-height:16px;
}

.newsletter.post h5 {
  line-height:8px;
}

.newsletter small {
  margin-right:16px;
  height:28px;
  font-size:10px;
  line-height:12px;
}

.newsletter.post input,.newsletter.post .btn {
  height:28px;
  font-size:14px;
  line-height:12px;
}

.newsletter.post input {
  height:18px;
}

.newsletter .input-append {
  margin-bottom:0;
}

.twitter {
  margin-left:14px;
}

/* Home page
-------------------------------------------------- */
#page-home header {
  margin-bottom:36px;
  height:500px;
  border-bottom:1px solid #aaa;
  background:#000 url(http://d3bzjcbbiattc5.cloudfront.net/img/bg02.jpg) no-repeat center center;
}

#page-home header h1,#page-home header p.about {
  padding:6px;
  background:#000;
}

#page-home .hero-unit {
  margin:148px 0 0 540px;
  padding:0;
  background:transparent;
}

#page-home .hero-unit h1 {
  margin-bottom:18px;
  color:#fff;
}

#page-home .hero-unit .btn-large {
  font-size: inherit;
}

#page-home .hero-unit p {
  margin-bottom:24px;
  color:#ddd;
  line-height:24px;
}

#page-home .hero-unit b a {
  color:#FBD738;
}

#page-home h3 {
  border-bottom:1px solid #aaa;
}

#page-home ul.posts {
  margin-bottom:48px;
}

#page-home ul.posts li {
  margin-bottom:18px;
}

/* Other pages
-------------------------------------------------- */
#header {
  margin:0 auto 74px;
  height:192px;
  border-bottom:1px solid #aaa;
  background:#000 url(http://d3bzjcbbiattc5.cloudfront.net/img/bg02-wide.jpg) no-repeat center center;
  color:#fff;
}

#header .container {
  max-width:767px;
  height:140px;
}

#header .hero-unit {
  margin:24px 0 0 366px;
  padding:0;
  width:342px;
  background:transparent;
  font-size: 20px;
}

#header h2,#header p.about {
  padding:6px;
  background:#000;
}

#header p.about {
  padding: 8px 6px;
}

#header h2 {
  font-size:40px;
}

#header h2 small {
  color:#ddd;
  font-size:20.5px;
}

#header .hero-unit p {
  margin:0;
  color:#ddd;
  line-height:18px;
}

#header a {
  color:#fff;
}

#header p.about b a {
  color:#FBD738;
}

#page-portfolio div.media img {
  padding:3px;
  width:104px;
  height:64px;
  border:1px solid #ccc;
  background:#fff;
}

#page-portfolio div.media a:hover img {
  border-color:#f13232;
}

/* Code highlighting
https://gist.github.com/edwardhotchkiss/2005058
-------------------------------------------------- */

.highlight {
  overflow: hidden;
  margin: 27px 0 27px 0;
  padding: 6px;
  border: 1px solid #ddd;
  background-color: #efefef;
  -webkit-box-shadow: 3px 3px rgba(0,0,0,0.1);
  -moz-box-shadow: 3px 3px rgba(0,0,0,0.1);
  box-shadow: 3px 3px rgba(0,0,0,0.1);
}

.highlight .c { color: #586E75; } /* Comment */
.highlight .err { color: #93A1A1; } /* Error */
.highlight .g { color: #93A1A1; } /* Generic */
.highlight .k { color: #859900; } /* Keyword */
.highlight .l { color: #93A1A1; } /* Literal */
.highlight .n { color: #93A1A1; } /* Name */
.highlight .o { color: #859900; } /* Operator */
.highlight .x { color: #CB4B16; } /* Other */
.highlight .p { color: #93A1A1; } /* Punctuation */
.highlight .cm { color: #586E75; } /* Comment.Multiline */
.highlight .cp { color: #859900; } /* Comment.Preproc */
.highlight .c1 { color: #586E75; } /* Comment.Single */
.highlight .cs { color: #859900; } /* Comment.Special */
.highlight .gd { color: #2AA198; } /* Generic.Deleted */
.highlight .ge { color: #93A1A1; font-style: italic; } /* Generic.Emph */
.highlight .gr { color: #DC322F; } /* Generic.Error */
.highlight .gh { color: #CB4B16; } /* Generic.Heading */
.highlight .gi { color: #859900; } /* Generic.Inserted */
.highlight .go { color: #93A1A1; } /* Generic.Output */
.highlight .gp { color: #93A1A1; } /* Generic.Prompt */
.highlight .gs { color: #93A1A1; font-weight: bold; } /* Generic.Strong */
.highlight .gu { color: #CB4B16; } /* Generic.Subheading */
.highlight .gt { color: #93A1A1; } /* Generic.Traceback */
.highlight .kc { color: #CB4B16; } /* Keyword.Constant */
.highlight .kd { color: #268BD2; } /* Keyword.Declaration */
.highlight .kn { color: #859900; } /* Keyword.Namespace */
.highlight .kp { color: #859900; } /* Keyword.Pseudo */
.highlight .kr { color: #268BD2; } /* Keyword.Reserved */
.highlight .kt { color: #DC322F; } /* Keyword.Type */
.highlight .ld { color: #93A1A1; } /* Literal.Date */
.highlight .m { color: #2AA198; } /* Literal.Number */
.highlight .s { color: #2AA198; } /* Literal.String */
.highlight .na { color: #93A1A1; } /* Name.Attribute */
.highlight .nb { color: #B58900; } /* Name.Builtin */
.highlight .nc { color: #268BD2; } /* Name.Class */
.highlight .no { color: #CB4B16; } /* Name.Constant */
.highlight .nd { color: #268BD2; } /* Name.Decorator */
.highlight .ni { color: #CB4B16; } /* Name.Entity */
.highlight .ne { color: #CB4B16; } /* Name.Exception */
.highlight .nf { color: #268BD2; } /* Name.Function */
.highlight .nl { color: #93A1A1; } /* Name.Label */
.highlight .nn { color: #93A1A1; } /* Name.Namespace */
.highlight .nx { color: #555; } /* Name.Other */
.highlight .py { color: #93A1A1; } /* Name.Property */
.highlight .nt { color: #268BD2; } /* Name.Tag */
.highlight .nv { color: #268BD2; } /* Name.Variable */
.highlight .ow { color: #859900; } /* Operator.Word */
.highlight .w { color: #93A1A1; } /* Text.Whitespace */
.highlight .mf { color: #2AA198; } /* Literal.Number.Float */
.highlight .mh { color: #2AA198; } /* Literal.Number.Hex */
.highlight .mi { color: #2AA198; } /* Literal.Number.Integer */
.highlight .mo { color: #2AA198; } /* Literal.Number.Oct */
.highlight .sb { color: #586E75; } /* Literal.String.Backtick */
.highlight .sc { color: #2AA198; } /* Literal.String.Char */
.highlight .sd { color: #93A1A1; } /* Literal.String.Doc */
.highlight .s2 { color: #2AA198; } /* Literal.String.Double */
.highlight .se { color: #CB4B16; } /* Literal.String.Escape */
.highlight .sh { color: #93A1A1; } /* Literal.String.Heredoc */
.highlight .si { color: #2AA198; } /* Literal.String.Interpol */
.highlight .sx { color: #2AA198; } /* Literal.String.Other */
.highlight .sr { color: #DC322F; } /* Literal.String.Regex */
.highlight .s1 { color: #2AA198; } /* Literal.String.Single */
.highlight .ss { color: #2AA198; } /* Literal.String.Symbol */
.highlight .bp { color: #268BD2; } /* Name.Builtin.Pseudo */
.highlight .vc { color: #268BD2; } /* Name.Variable.Class */
.highlight .vg { color: #268BD2; } /* Name.Variable.Global */
.highlight .vi { color: #268BD2; } /* Name.Variable.Instance */
.highlight .il { color: #2AA198; } /* Literal.Number.Integer.Long */

@media (max-width: 980px) {
  #page-home .hero-unit {
    margin-left: 340px;
  }
  #page-home .newsletter .span3, #page-home .newsletter .offset1 {
    margin-left: 0;
  }
  #page-home .newsletter .span7 {
    width: 476px;
  }
}

@media (max-width: 768px) {
  #page-home .hero-unit {
    margin-left: 290px;
  }
  
  #page-home .newsletter .span7 {
    margin-top: 18px;
    width: 528px;
  }
}

@media (max-width: 700px) {
  #page-home header {
    background-position-x: -520px;
  }
  #page-home .hero-unit {
    margin-left: 150px;
  }
  #page-home .newsletter .span3 {
    margin-left: 24px;
  }
  #page-home .newsletter .span7 {
    margin-top: 18px;
    width: 528px;
  }
  ul.nav li.space {
    margin-right: -6px;
  }
  #header {
    background-position-x: -220px;
  }
  #header .hero-unit {
    margin-left: 196px;
  }
  #page-home .newsletter .twitter {
    margin: 12px 400px 0 0;
  }
  #page-home .newsletter .pull-left {
    float:none;
    text-align: left;
  }
  #page-home .newsletter .span3 {
    margin:0;
  }
}

@media (max-width: 540px) {
  ul.nav, ul.nav.wide {
    width:100%;
  }
  #nav {
    border-bottom: none;
  }
  #page-home .hero-unit {
    margin-left:48px;
  }
  #header {
    background: none;
    height: auto;
  }
  #header .hero-unit {
    margin: 0;
    width: 100%;
  }
  #header h2 {
    margin: 0;
  }
  .entry .authored {
    display: block
  }
}