ul {
  list-style-type: disc;
  margin: 0 0 $base-spacing 0;
  padding-left: $base-spacing;
  ul {
    margin-bottom: $base-spacing;
  }
}

ol {
  list-style-type: decimal;
  margin: 0 0 $base-spacing 0;
  padding-left: $base-spacing;
}

dl {
  margin-bottom: $base-spacing;
  dt {
    font-weight: bold;
    margin-top: $base-spacing;
  }
  dd {
    margin: 0;
  }
}
