body {
  -webkit-font-smoothing: antialiased;
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  margin: 0;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
}

// h1-h6 computed with: https://drewish.com/tools/vertical-rhythm/
h1 {
  font-size: 1.6667em; /* 30px */
  line-height: 1.4000em; /* 42px */
  margin-top: 0.4667em;
}

h2 {
  font-size: 1.4444em; /* 26px */
  line-height: 1.0769em; /* 28px */
  margin-top: 0.5385em;
}

h3 {
  font-size: 1.2222em; /* 22px */
  line-height: 1.2727em; /* 28px */
  margin-top: 0.6364em;
}

h4 {
  font-size: 1.0000em; /* 18px */
  line-height: 1.5556em; /* 28px */
  margin-top: 0.7778em;
}

h5 {
  font-size: 1.0000em; /* 18px */
  line-height: 1.5556em; /* 28px */
  margin-top: 0.7778em;
}

h6 {
  font-size: 1.0000em; /* 18px */
  line-height: 1.5556em; /* 28px */
  margin-top: 0.7778em;
}

p {
  font-size: 1em; /* 18px */
  line-height: 1.5556em; /* 28px */
  margin: 0 0 1.5556em 0;
}

::-moz-selection {
  background-color:$light-yellow !important;
}
::selection{
  background-color:$light-yellow !important;
}

a {
  @include transition(color 0.1s linear);
  color: $base-link-color;
  text-decoration: none;
  border-bottom:1px solid $light-gray;
  font-weight:600;

  &:visited {
    color: $visited-link-color;
  }

  &:hover {
    color: $hover-link-color;
    border-color: $medium-gray;
  }

  &:active, &:focus {
    color: $hover-link-color;
    outline: none;
  }
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

img {
  margin: 0;
  max-width: 100%;
}

blockquote {
  border-left: 2px solid $base-border-color;
  color: lighten($base-font-color, 15);
  margin: $base-spacing 0;
  padding-left: $base-spacing / 2;
}

cite {
  color: lighten($base-font-color, 25);
  font-style: italic;
  display: block;
  font-size:$base-font-size * .75;

  &:before {
    content: '\2014 \00A0';
  }
}

mark {
  background: #f7ff7f;
  font-weight: 600;
}

ul {
  @extend %default-ul;
}

ol {
  @extend %default-ol;
}
