#flyout {
  background: rgba(236, 240, 241, 0.9);
  border: 1px solid $dark-gray;
  position: fixed;
  top: 200px;
  right: 24px;
  width: 400px;
  @include transition (right 0.75s, ease-in-out);
}

#flyout.hidden {
  right: -450px;
}
