#footer {
  background: $light-gray;
  margin: $base-spacing 0 0 0;
  padding-top: $base-spacing;
  font-size: 0.75em;

  h5 {
    margin:0.75em 0 0.5em 0;
  }

  a {
    color: $base-accent-color;
  }

  #footernav {
    ul {
      margin: 0;
      padding: 0;

      li {
        width: 8em;
        display: inline-block;
        list-style-type: none;
        padding: 0;
      }
    }
  }
  #copyright {
    margin-top: 0.5em;
    text-align: center;
  }
}
