$masthead-height: 56px;

#masthead {
  border-bottom: 6px solid $light-gray;
  height: $masthead-height;
  margin: 0 0 $base-spacing * 1.5 -12px;
  img {
    float: left;
    margin: -2px 12px 0 -72px;
    border: none;
  }
  h1,
  h4 {
    width: 248px;
    font-size: 24px;
    height: $masthead-height;
    float: left;
    line-height: 17px;
    font-family: $sans-serif-2;
    text-rendering: optimizeLegibility;
    letter-spacing: -1px;
    a {
      color: $dark-blue;
      padding-bottom: 7px;
      &:hover {
        color: $blue;
        border-bottom: 6px solid $yellow;
      }
    }
  }
  ul {
    text-align: right;
    height: $masthead-height;
  }
  li {
    display: inline;
    width: auto;
    margin-left: 24px;
    height: $masthead-height;
    a {
      line-height: 59px;
      padding-bottom: 9px;
      text-rendering: optimizeLegibility;
      font-family: $sans-serif;
      border-bottom: 6px solid $light-gray;
      font-weight: 600;
      color: $blue;
      font-size: 18px;
      text-transform: uppercase;
      &:hover {
        color: $dark-blue;
        border-color: $yellow;
      }
    }
  }
}
