$mobile:new-breakpoint(min-width 0px max-width 1024px);

@include media($mobile) {
  body {
    font-size: 17px;
  }
  #wrapper {
    margin: 0 5%;
    width: 90%;
  }
  #masthead {
    #headernav {
      clear: both;
    }
    width: 100%;
    border-bottom: 0;
    margin: 0;
    display: inline-block;
    img {
      margin: 0 0 0 5%;
    }
    h1,
    h4 {
      margin-top: 28px;
      font-size: 36px;
      margin-left: 16px;
    }
    ul {
      padding: 0;
    }
    ul li {
      text-align: center;
      margin: 0;
      width: 100%;
      display: block;
      height: auto;
      background: #ecf0f1;
      padding: 12px 0 1px 0;
      margin: 2px;
      line-height: 1;
      a:hover, a:focus, a:after {
        border: none;
        background: none;
      }
    }
  }
  #flyout {
    display: none;
  }
  #footer {
    @include span-columns(10);
    @include shift();
    @include pad();
    font-size: 1em;
    #about, #footernav, #copyright {
      @include span-columns(10 of 10);
      @include shift(0);
    }
    #footernav ul li {
      width: 100%;
      font-size: 1.2em;
      background: #fff;
      margin-bottom: 6px;
      padding: 6px 0;
      text-align: center;
      a {
        border: none;
      }
    }
  }
  #page-home {
    #wrapper {
      background: none;
    }
    #callout {
      height: auto;
      float: none;
      width: 90%;
      margin: 2% 5% 0 5%;
    }
    section.column {
      float: none;
      width: auto;
    }
    #masthead {
      #headernav {
        margin-right: 0;
      }
      h1 {
        background: asset_url("ted-serbinski-headshot-small-circle.png") no-repeat;
        height: 90px;
        padding: 28px 0 0 102px;
        vertical-align: middle;
        margin-top: 0;
        display: block;
      }
    }
  }
  section.e-content {
    figure.wide {
      width: auto;
      margin-left: 0;

      img {
        height: auto;
        width: auto;
      }
    }
  }
}
