<!-- NAVBAR
================================================== -->
<div class="navbar-wrapper">
  <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
  <div class="container">

  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% include themes/tedserbinski/navbar.html %}
    </div><!-- /.navbar-inner -->
  </div><!-- /.navbar -->

</div> <!-- /.container -->
</div><!-- /.navbar-wrapper -->


<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <img src="{{ ASSET_PATH }}/img/{{ page.background }}" alt="Ted Serbinski - Headshot at The Whitney, Detroit">
      <div class="container">
        <div class="carousel-caption">
          <h1>Ted Serbinski</h1>
          <p class="lead">Startup investor, mentor, founder, & hacker</p>
          <a class="btn btn-large btn-success" href="#myModal" role="button" data-toggle="modal">Subscribe to 52 VC Lessons &raquo;</a>
      </div>
      </div>
    </div>
  </div>
</div><!-- /.carousel -->    



<!-- Newsletter modal
================================================== -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
    <h3 id="myModalLabel">Free Newsletter: 52 VC Lessons</h3>
  </div>
  <div class="modal-body">
    <p>Every week I'll share a new lesson I've learned as a first time VC. Signup below to get these delivered to your inbox!</p>
    
    
    <form action="https://tinyletter.com/tedserbinski" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/tedserbinski', 'popupwindow', 'scrollbars=yes,width=800,height=600');$('#myModal').modal('hide');return true">
    <div class="input-append input-prepend">
      <span class="add-on"><i class="icon-envelope"></i></span>
      <input class="span2" type="email" placeholder="you@example.com" required name="email" id="tlemail">
      <input type="hidden" value="1" name="embed"/>
      <button class="btn btn-success" type="submit">Sign me up!</button>
    </div>
    </form>

    <p class="text-muted"><small>No spam, promise. Powered by <a href="https://tinyletter.com/tedserbinski">TinyLetter & Mailchimp</a></small></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">No, thanks</button>
  </div>
</div>


<!-- Content
================================================== -->
<div class="container">
  {{ content }}
</div>