<!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
<div class="nav-collapse collapse">
  <ul class="nav">
    <li><a href="https://tinyletter.com/tedserbinski">52 VC Lessons</a></li>
    <li><a href="/about.html">About</a></li>
    <li><a href="mailto:stanson@gmail.com">Email Me</a></li>
    <!-- Read about Bootstrap dropdowns at http://twitter.github.com/bootstrap/javascript.html#dropdowns -->
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li class="nav-header">Categories</li>
        <li><a href="/drupal">Drupal</a></li>                            
        <li><a href="/drupal">My M3</a></li>
        <li class="divider"></li>
        <li class="nav-header">Online Profiles</li>
        <li><a href="https://angel.co/tedserbinski">AngelList</a></li>
        <li><a href="https://github.com/tedserbinski">Github</a></li>
        <li><a href="https://plus.google.com/107707246099022430019?rel=author" rel="author">Google+</a></li>
        <li><a href="http://www.linkedin.com/in/tedserbinski/">LinkedIn</a></li>
        <li><a href="https://twitter.com/tedserbinski">Twitter</a></li>
        <li class="divider"></li>
        <li><a href="/archive.html">Archive</a></li>        
        <li><a href="/pages.html">Sitemap</a></li>
      </ul>
    </li>
  </ul>
</div><!--/.nav-collapse -->