<!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
<div class="nav-collapse collapse">
  <ul class="nav">
    <li><a href="/52-startup-vc-lessons.html" title="52 Startup Venture Capital Lessons">52 Lessons</a></li>
    <li><a href="/about.html">About</a></li>
    <li><a href="mailto:stanson@gmail.com">Email</a></li>
    <!-- Read about Bootstrap dropdowns at http://twitter.github.com/bootstrap/javascript.html#dropdowns -->
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li class="nav-header">More Blog Posts</li>
        <li><a href="/categories.html#drupal-ref">Drupal</a></li>                            
        <li><a href="/categories.html#cars">BMW M3</a></li>
        <li><a href="/archive.html">Archive</a></li>                
        <li class="divider"></li>
        <li class="nav-header">Online Profiles</li>
        <li><a href="https://angel.co/tedserbinski">AngelList</a></li>
        <li><a href="https://twitter.com/tedserbinski">Twitter</a></li>
        <li><a href="https://plus.google.com/107707246099022430019?rel=author" rel="author">Google+</a></li>
        <li><a href="http://www.linkedin.com/in/tedserbinski/">LinkedIn</a></li>
        <li class="divider"></li>
        <li class="nav-header">Code Profiles</li>
        <li><a href="https://github.com/tedserbinski">Github</a></li>
        <li><a href="http://drupal.org/user/12932">Drupal</a></li>
      </ul>
    </li>
  </ul>
</div><!--/.nav-collapse -->