<!-- NAVBAR
================================================== -->
<div class="navbar-wrapper page">
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
      <div class="container">
        <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
        {% include themes/tedserbinski/navbar.html %}
      </div><!-- /.container -->
    </div><!-- /.navbar-inner -->
  </div><!-- /.navbar -->
</div><!-- /.navbar-wrapper -->

<div class="container-fluid page-content">
  <div class="row-fluid">
    <div class="span2 offset1 author">
      <img src="{{ ASSET_PATH }}/img/ted-headshot-small.jpg" class="img-circle" title="Ted Serbinski">
      {% unless page.tags == empty %}
        <h4>Tags</h4>
        <ul class="tag_box">
        {%  assign tags_list = page.tags %}
        {% include JB/tags_list %}
        </ul>
      {% endunless %}
    </div>
    
    <div class="span7">
      <div class="page-header">
        <h1>{{ page.title }}</h1>
  
        <p class="muted posted">Written by Ted Serbinski on {{ page.date | date: "%B %d, %Y"  }}</p>
  
        <div class="post">

          {{ content }}
  
          <hr>
  
          <div class="pagination">
            <ul>
            {% if page.previous %}
              <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
            {% else %}
              <li class="prev disabled"><a>&larr; Previous</a></li>
            {% endif %}
              <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
            {% if page.next %}
              <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
            {% else %}
              <li class="next disabled"><a>Next &rarr;</a>
            {% endif %}
            </ul>
          </div>
  
          <hr>
  
          {% include JB/comments %}
        </div>
      </div>
    </div>
  </div>
</div>