<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% if page.url != '/index.html' %}
    <title>{{ page.title }} | Ted Serbinski</title>
    {% else %}
    <title>{{ page.title }}</title>    
    {% endif %}
    {% if page.description %}<meta name="description" content="{{ page.description | xml_escape }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page.url != '/index.html' %}
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="Ted Serbinski">    
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:url" content="http://tedserbinski.com{{ page.url }}">
    {% endif %}      
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@tedserbinski">
    <meta name="twitter:creator" content="@tedserbinski">
    <meta name="twitter:url" content="http://tedserbinski.com{{ page.url }}">
    <meta name="twitter:title" content="{{ page.title }}">
    <script type="text/javascript">
      (function() {
        var config = {
          kitId: 'jmj3nsk',
          scriptTimeout: 3000
        };
        var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
      })();
      
      function newsletter() {
        var width=540, height=648;
        var a = typeof window.screenX != 'undefined' ? window.screenX : window.screenLeft;
        var i = typeof window.screenY != 'undefined' ? window.screenY : window.screenTop;
        var g = typeof window.outerWidth!='undefined' ? window.outerWidth : document.documentElement.clientWidth;
        var f = typeof window.outerHeight != 'undefined' ? window.outerHeight: (document.documentElement.clientHeight - 22);
        var h = (a < 0) ? window.screen.width + a : a;
        var left = parseInt(h + ((g - width) / 2), 10);
        var top = parseInt(i + ((f-height) / 2.5), 10);
        var params = 'width='+width+',height='+height+',left=' + left + ',top=' + top + ',scrollbars=0,location=1,toolbar=0';
        return window.open('https://tinyletter.com/tedserbinski', 'popupwindow', params);
      }  
    </script>
    {% css_asset_tag global %}
      - /_assets/css/bootstrap.min.css
      - /_assets/css/style.css
    {% endcss_asset_tag %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/tedserbinski-blog">        
    <link rel="shortcut icon" href="http://d3bzjcbbiattc5.cloudfront.net/img/favicon.png">
    <link rel="canonical" href="http://tedserbinski.com{{ page.url | remove: '/index.html' }}">
    <link type="text/plain" rel="author" href="http://tedserbinski.com/humans.txt">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      {% javascript_asset_tag global %}
        - /_assets/js/html5shiv.js
      {% endjavascript_asset_tag %}
    <![endif]-->
  </head>

  <body id="page{{ page.id | replace: '/','-' }}">    
    {{ content }}
    
    <footer id="footer">
      <div class="container-fluid">
        <p class="muted credit">
          Follow me on <a href="http://twitter.com/tedserbinski">Twitter</a>. Subscribe to my <a href="https://tinyletter.com/tedserbinski">Newsletter</a> and <a href="http://feeds.feedburner.com/tedserbinski-blog">RSS</a>. &copy;2006-2013 by <a href="https://plus.google.com/107707246099022430019?rel=author" rel="author">Ted Serbinski</a>.
        </p>
      </div>
    </footer>

    <script type="text/javascript">
      if (document.domain != 'localhost') {
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-361873-1']);
        _gaq.push(['_trackPageview']);
      
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      }
    </script>    
  </body>
</html>
