---
layout: default
---

<div id="nav">
  {% include nav.html %}
</div>

<header>
  <div class="container">
    <div class="hero-unit">
      <h1>Ted Serbinski</h1>
      <p class="about">Entrepreneur &amp; open source hacker<br>turned <b><a href="/about.html">early stage VC</a></b> rebuilding Detroit</p>
      <p><a class="btn btn-success btn-large" href="/52-startup-lessons.html">Read My 52 Startup Lessons &rarr;</a></p>
    </div>
  </div>
</header>

<div class="container content">
  {{ content }}
</div>
