---
layout: wrapper
---

{% include header.html %}

<!-- hatom microformat classes: http://microformats.org/wiki/hatom-examples --> 
<article class="container-fluid hfeed hentry entry">
  <header>
    <h1 class="entry-title instapaper_title text-center" id="{{ page.id | replace: '/','-' }}">{{ page.title }}</h1>
  </header>
  <div class="post entry-content instapaper_body">
    <div class="body">

      {{ content }}
    
    </div>

    <hr>
 
    {% include updates.html %}

   {% if page.url == '/jcalendar/index.html' %}
     {% include comments.html %}
   {% endif %}

  </div>
</article>
