---
layout: default
---

{% include header.html %}

<!-- hatom microformat classes: http://microformats.org/wiki/hatom-examples --> 
<article class="hfeed hentry entry">
  <header>
    <h1 class="entry-title instapaper_title text-center" id="{{ page.id | replace: '/','-' }}">{{ page.title }}</h1>
  </header>
  <section class="post entry-content instapaper_body">
    
    {{ content }}

    <hr>
 
    {% include newsletter.html %}

    {% if page.url == '/jcalendar/index.html' %}
      {% include comments.html %}
    {% endif %}

  </section>
</article>
