---
layout: wrapper
---
<header id="header">
  <div class="container">
    <div class="about">
      <h2><small>Hi, I'm</small> <a href="http://tedserbinski.com">{{ site.title }}</a></h2>
      <p>An entrepreneur & hacker turned<br><b>early-stage VC</b> living in Detroit</p>
    </div>
  </div>
</header>

<div class="container-fluid">
  <div id="nav">
    {% include navbar.html %}
  </div>
</div>

<!-- hatom microformat classes: http://microformats.org/wiki/hatom-examples --> 
<article class="container-fluid hfeed hentry entry">
  <header>
    <h1 class="entry-title instapaper_title text-center" id="{{ page.id | replace: '/','-' }}">{{ page.title }}</h1>

    <p class="muted posted text-center">
      <span class="vcard author"><span class="fn"><a href="https://plus.google.com/107707246099022430019?rel=author">Ted</a></span></span>  wrote this on <span class="date updated published" title="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y"  }}</span>
      <a class="comment-count" href="#disqus_thread">Read Comments</a>
      {% if page.previous %}<a class="prev" href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a> {% endif %}
      {% if page.next %}<a class="next" href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a> {% endif %}
    </p>
  </header>
  <div class="post entry-content instapaper_body">
    <div class="body">

      {{ content }}
    
    </div>

    <hr>
    <p class="alert alert-block alert-info">Have feedback? <a href="#comments">Leave a comment</a> below or <a href="http://twitter.com/tedserbinski">send me a message on Twitter</a>.</p>
    <div class="alert alert-block alert-success newsletter clearfix">
      <div class="pull-left">
         <h5>Free, weekly updates</h5>
        <small>No spam, promise. Powered by <a href="https://tinyletter.com/tedserbinski">TinyLetter</a></small>
      </div>
      <div class="input-append input-prepend pull-left">
        <form action="https://tinyletter.com/tedserbinski" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/tedserbinski', 'popupwindow', 'scrollbars=yes,width=800,height=600');$('#myModal').modal('hide');return true">
        <span class="add-on"><i class="icon-envelope"></i></span>
        <input class="span2" type="email" placeholder="you@example.com" required name="email" id="tlemail">
        <input type="hidden" value="1" name="embed"/>
        <button class="btn btn-success" type="submit">Sign Up</button>
        </form>    
      </div>
    </div>

    <div class="pagination pagination-small pagination-centered">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; Previous</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}/archive.html">Post Archive</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>Next &rarr;</a>
      {% endif %}
      </ul>
    </div>
    <hr>
    <section id="disqus_thread">
      <script type="text/javascript">
        var disqus_shortname = 'tedserbinski';
        (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          var s = document.createElement('script'); s.async = true;
          s.type = 'text/javascript';
          s.src = '//' + disqus_shortname + '.disqus.com/count.js';
          (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        })();
       </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>    
    </section>
  </div>
</article>
