---
layout: wrapper
---

{% include header.html %}

<!-- hatom microformat classes: http://microformats.org/wiki/hatom-examples --> 
<article class="container-fluid hfeed hentry entry">
  <header>
    <h1 class="entry-title instapaper_title text-center" id="{{ page.id | replace: '/','-' }}">{{ page.title }}</h1>

    <p class="muted posted text-center">
      <span class="vcard author"><span class="fn"><a href="https://plus.google.com/107707246099022430019?rel=author">Ted</a></span></span>  wrote this on <span class="date updated published" title="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y"  }}</span>
      <a class="comment-count" href="#disqus_thread">Read Comments</a>
      {% if page.previous %}<a class="prev" href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a> {% endif %}
      {% if page.next %}<a class="next" href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a> {% endif %}
    </p>
  </header>
  <div class="post entry-content instapaper_body">
    <div class="body">

      {{ content }}
    
    </div>

    <hr>

    {% include updates.html %}

    <div class="pagination pagination-small pagination-centered">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; Previous</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}/archive.html">Post Archive</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>Next &rarr;</a>
      {% endif %}
      </ul>
    </div>
    <hr>

    {% include comments.html %}

  </div>
</article>
